@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
:root {
    --darkblue05: #091B6F;
    --darkblue04: #0D28A6;
    --darkblue03: #5E70C4;
    --darkblue02: #AEB7E1;
    --darkblue01: #CFD4ED;
    --primarygreen05: #3D7B3F;
    --primarygreen04: #5CB85F;
    --primarygreen03: #92D094;
    --primarygreen02: #C9E7CA;
    --primarygreen01: #DEF1DF;
    --lg-font: 'Roboto', sans-serif;
    --sm--font: 'Sora', sans-serif;
}

*{
    margin: 0;
    padding: 0px;
}
body {
    font-family: var(--sm--font);
}
.header {
    background-color: #F1F3FF;
}
.navbar-brand {
    background-color: blue;
    padding: 5px;
    border-radius: 3px;
    color: white;
}

.navbar-brand a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 15px;
}

.navbar-nav {
    padding: 8px;
}
.nav-item a {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: black;
}
#utama {
    background-color: #091B6F;
}


.btn-regis {
    display: inline-block;
    background-color: var(--primarygreen04);
    color: white;
    padding: 5px;
    text-decoration: none;
    border: none;
    font-size: 16px;
    
}

.btn-regis:hover {
    background-color: var(--primarygreen04);
    color: black;
}
/*---------------Services Section--------------*/
.text span {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    padding-left: 10px;
}
.services-text {
    max-width: 650px;
    padding-top: 100px;
}
.services-text p {
    width: 500px;
    font-size: 15px;
}
.services {
    height: 500px;
    padding: 50px;
    background-color: #F1F3FF;
}

.services-bg {
    background-color: var(--darkblue04);
    position:absolute;
    height: 240px;
    width: 700px;
    right: 0;
    border-top-left-radius: 1.5cm;
    top: 261px;
    bottom: 0;
    padding-bottom: 200px;
}

.car {
    position: absolute;
    width: 704px;
    height: 407px;
    right: 0;
    top: 97px;
}

.services-bg img {
    width: 500px;
}

#konten {
    padding: 100px;
    height: 600px;

}

.konten-bg2 {
    width: 50%;
    padding: 15px;
}

.konten-bg2 img {
    background-color: var(--darkblue04);
    border-radius: 50%;
    position: relative;
    width: 374px;
    height: 366px;
    left: 50px;
    top: 35px;
}

.konten-tulisan {
    position: static;
    height: 72px;
    left: 0%;
    right: 0%;
    top: 0px;
}
.konten-tulisan h1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}
.konten-tulisan p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    position: static;
    width: 570px;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.konten-tulisan .bg-icon {
    background-color: #CFD4ED;
    border-radius: 50%;
}


.konten-centang i {
    background-color: #CFD4ED; 
    color: blue; 
    width: 20px;
    height: 20px;

}
.box-1 {
    border-radius: 250px;
    background-color: var(--primarygreen03);
    width: 120px;
    height: 120px;
    display: inline-block;
    position: absolute;
    left: 110px;
    top: 570px;
}

.box-2 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 160px;
    top: 940px;
    background-color: #F9CC00;
    border-radius: 50%;
}

.box-3 {
    background-color: #FC4F4F;
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 490px;
    top: 630px;
}

.icon {
    background-color: #F9CC00;;
    border-radius: 50%;
    width: 30px;
    margin: 10px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    color: white;
}

#why {
    padding-bottom: 90px;
    height: 520px;
}

.border-isi {
    color: rgb(179, 177, 177);
    border: 2px solid;
}

.isi-text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: black;

}

.isi-text-2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: black;
}
.icon-2 {
    background-color: #FA2C5A;
    color: white;
    border-radius: 50%;
    width: 30px;
    margin: 10px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
}

.icon-3 {
    background-color: var(--darkblue04);
    border-radius: 50%;
    width: 30px;
    margin: 10px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    color: white;
}

.icon-4 {
    background-color: var(--primarygreen05);
    border-radius: 50%;
    width: 30px;
    margin: 10px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    color: white;
}

.testimonial-1 {
    justify-content: center;
    padding-left: 20px;
}

.testi-konten {
    background-color:#F1F3FF;
    padding: 20px;
    margin: 20px;
}
.testi-konten img {
    width: 50px;
    height: 50px;
    margin-top: 40px;
}

.testi-konten h4 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

.testi-konten p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

.konten-icon {
    padding: auto;
    position: relative;
    
}
.started-section {
    justify-content: center;
    margin: 160px;
    border-radius: 10px;
    background-color: var(--darkblue04);
}

.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -70px;
}

.carousel-indicators button {
    background: black;
    width: 15px;
    height: 15px;
}

.carousel-indicators :active {
    background: white;
}
.started-text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: white;
}


.text-2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.faq {
    width: 100%;
    height: 400px;
}

.faq-text  {
    position: absolute;
    height: 36px;
    left: 9.44%;
    right: 65%;
}

.faq-text h1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.faq-text p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.faq-btn {
    width: 680px;
    height: 56px;
    left: 0px;
}

.faq-btn .btn {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    border-radius: 5px ;
    color: rgb(179, 177, 177);
    border: 3px solid;
}

.btn-text {
    color: black;
}

.dropdown-menu li {
    color: black;
}

.icon-footer i {
    background-color: #0D28A6;
    padding: 5px;
    color: white;
    border-radius: 30px;
}
.footer {
    top: 380rem;
    position: relative;
}

#cars {
    height: 150px;
    position: absolute;
    top: 445px;
    width: 100%;
}
.isi-cars {
    border: 1px solid gray;
    border-radius: 5px;
    max-width:70rem;
    height: 120px;
    padding: 20px;
    background-color: #fff;
    margin: auto;
}

.tulis-cars {
    font-size: 13px;
}

#dropdownMenuButton1 {
    border: 1px solid gray;
    width: 200px;
}
/* .dropdowncars {
    width: 10rem;
    position: relative;
}

.dropdowncars:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
} */


.dropdown-select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    cursor: pointer;
}
.dropdowncars {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.dropdown-menu li {
    font-size: 12px;
}
.dropdown-item:hover{
    color: var(--primarygreen05);
    background-color: var(--primarygreen03);
}

.dropdown-list {
    border-radius: 4px;
    background-color: white;
    /* width: 200px; */
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.dropdown-list_item {
    font-size: 10px;
    padding: 10px;
}

.card-body {
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(12, 16, 31, 0.4);
    width: 260px;
    height: 350px;
}

#cars-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
}
.card img {
    width: 260px;
    height: 200px;
}

